<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    .container .button{
        display: inline-block;
        margin-top: 20px;
        padding: 10px 20px;
        font-size: 16px;
        color: #ffff;
        background-color: #007bff;
        border: none;
        border-radius: 5px;
        text-decoration: none;
    }
    .container .button {
        background-color: #0056b3;
    }
</style>
<body>
<div class="container">
    <h1>Payment Successful</h1>
    <p>Thank you! Your Payment has been processed successfully.!</p>
    <p>Order Status: Confirmed</p>
    <p>You will receive a confirmation email shortly.</p>
    <a href="/" class="button">Go to Homepage</a>
</div>
</body>
</html>